
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('https://assetsio.gnwcdn.com/epic-games-store_wNKJUVq.jpg?width=1600&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0; 
}

.login-container {
  background-color: #000;
  border-radius: 10px;
  padding: 60px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  z-index: 1;
}

.login-form h2 {
  text-align: left;
  color: #d7d7d7;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  color: #333;
}

.input-group input {
  background-color: #32353c;
  color: #fff;
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid #32353c;
  border-radius: 4px;
  font-size: 14px;
  transition: border 0.3s ease;
}

.input-group input:focus {
  border-color: #5b9bd5;
  outline: none;
}

.login-btn {
  width: 40%;
  padding: 12px;
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
  display: none;
}

/* CSS Verification */
  
.verification-container {
  background: #171a21;
  padding: 30px 65px;
  border-radius: 12px;
  row-gap: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.verification-container header {
  font-size: 2.5rem;
}
.verification-container h4 {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.verification-container p {
  font-size: 1.25rem;
  color: #4c4f57;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.form-verif{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-verif .input-field {
  flex-direction: row;
  column-gap: 10px;
}
.input-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
.form-verif button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
  transition: all 0.2s ease;
}
.form-verif button.active {
  background: #4070f4;
  pointer-events: auto;
}
.form-verif button:hover {
  background: #0e4bf1;
}